/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

d-byline {
  border-top-color: $grey-color-light !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a, d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
}

d-article {
  border-top-color: #e8e8e8 !important;
  a, p, h1, h2, h3, h4, h5, h6, li, table {
    color: var(--global-text-color) !important;
  }
  a, h1, h2, hr {
    border-bottom-color: $grey-color-light !important;
  }
  a:hover {
    border-bottom-color: var(--global-hover-color) !important;
  }
}

d-appendix {
  border-top-color: $grey-color-light !important;
  color: var(--global-distill-app-color) !important;
  h3, li, span {
    color: var(--global-distill-app-color) !important;
  }
  a, a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

.red-color{
  color: $red-color !important;
}

.red-color-dark{
  color: $red-color-dark !important;
}

.orange-color{
  color: $orange-color !important;
}

.blue-color{
  color: $blue-color !important;
}

.blue-color-black{
  color: $blue-color-black !important;
}

.cyan-color{
  color: $cyan-color !important;
}

.light-cyan-color{
  color: $light-cyan-color !important;
}

.green-color{
  color: $green-color !important;
}

.green-color-lime{
  color: $green-color-lime !important;
}

.green-color-dark{
  color: $green-color-dark !important;
}

.green-color-light{
  color: $green-color-light !important;
}

.green-color-bright{
  color: $green-color-bright !important;
}

.purple-color{
  color: $purple-color !important;
}

.light-purple-color{
  color: $light-purple-color !important;
}

.pink-color{
  color: $pink-color !important;
}

.pink-color-light{
  color: $pink-color-light !important;
}

.yellow-color{
  color: $yellow-color !important;
}

.grey-color{
  color: $grey-color !important;
}

.grey-color-light{
  color: $grey-color-light !important;
}

.grey-color-dark{
  color: $grey-color-dark !important;
}

.white-color{
  color: $white-color !important;
}

.black-color{
  color: $black-color !important;
}